@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .list {
    @apply flex flex-col border-2 border-solid border-blue-700 min-w-full m-0;
    height: 70vh;
    overflow: auto;
  }
  .item {
    @apply flex justify-between items-center p-4 border-b-2 border-solid border-blue-700;
  }
  .item h1 {
    @apply sticky top-0 z-40;
  }
  .item-icon {
    @apply flex justify-start items-center mx-2;
    width: 5%;
  }
  .item-detail {
    @apply flex flex-col justify-between items-start mx-2;
    width: 75%;
  }
  .item-control {
    @apply flex justify-evenly items-center gap-4;
    width: 20%;
  }
  .icon {
    @apply w-8 h-8 cursor-pointer;
  }
  .icon-m {
    display: none;
  }
  @media (max-width: 640px) {
    .icon {
      display: none;
    }
    .icon-m {
      @apply w-8 h-8 cursor-pointer;
      display: block;
    }
  }
}