@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .task-list {
    @apply flex flex-col border-2 border-solid border-blue-700 min-w-full m-0;
    overflow: auto;
  }
  .list-items {
    @apply flex flex-col-reverse;
    max-height: 65vh;
    overflow: auto;
  }
  .item {
    @apply flex justify-between items-center p-4 border-b-2 border-solid border-blue-700;
  }
  .filetr-by {
    @apply flex justify-end;
  }
  .item-icon {
    @apply flex justify-center items-center mx-2;
    width: 5%;
  }
  .item-detail {
    @apply flex flex-col justify-between items-start mx-2;
    width: 80%;
  }
  .item-control {
    @apply flex justify-evenly items-center gap-4;
    width: 25%;
  }
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50vw; /* Adjust the max-width to your desired value */
  }
  .icon {
    @apply w-8 h-8 cursor-pointer;
  }
  .icon-m {
    display: none;
  }
  @media (max-width: 640px) {
    .icon {
      display: none;
    }
    .icon-m {
      @apply w-8 h-8 cursor-pointer;
      display: block;
    }
  }
}
