@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .list {
        @apply flex flex-col border-2 border-solid border-blue-700 min-w-full m-0;
        height: 70vh;
    }
    .item {
        @apply flex justify-between items-center p-4 border-b-2 border-solid border-blue-700;
    }
    .item-icon{
        @apply flex justify-center items-center;
        width: 5%;
    }
    .item-detail {
        @apply flex flex-col justify-between items-start;
        width: 75%;
    }
    .item-control {
        @apply flex justify-evenly items-center;
        width: 20%;
    }
    .icon {
        @apply w-8 h-8 cursor-pointer;
    }
}